<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Google Maps</title>
        <style>
            body{
                background-image:url(map.jpg)
            }
            input[type=submit]{
                background-color:#9a9a9a;
                border-radius:28px;
                font-family:Verdana;
            	font-size:12px;
                color:white;
            }
            input[type=submit]:hover{
                background-color:#bab9b9;
            }
            body{
                font-family: Helvetica;
            }
            #map{
                height:400px;
                width:100%;
            }
            #butt{
            	-moz-box-shadow: 0px 0px 0px 0px #9fb4f2;
            	-webkit-box-shadow: 0px 0px 0px 0px #9fb4f2;
            	box-shadow: 0px 0px 0px 0px #9fb4f2;
            	background-color:#7892c2;
            	-moz-border-radius:28px;
            	-webkit-border-radius:28px;
            	border-radius:28px;
            	border:1px solid #4e6096;
            	cursor:pointer;
            	color:#ffffff;
            	font-family:Verdana;
            	font-size:17px;
            	font-weight:bold;
            	padding:15px 54px;
            	text-decoration:none;
            	text-shadow:0px 1px 0px #283966;
                position: absolute; 
                left: 50%; 
                top: 50%; 
                transform: translate(-50%, -50%);
            }
            #butt:hover {
            	background-color:#476e9e;
            }
            #instructions{
                background-color: rgb(255, 255, 255, 50%);
                position: absolute; 
                left: 30%; 
                top: 1.5%;
                font-family: helvetica;
                font-size: 20px;
            }
        </style>
       <script src="https://code.jquery.com/jquery-3.4.1.js"> </script>
    </head>
    <body>
           <h1> Hello! {{username}}</h1>
        <form action="search" id="search" method="POST">
            <input type="text" name="query" id="query" placeholder="Search for places">
            <input id="subQuery" type="submit" name="subQuery" value="Search">
            <select name="filter" id="filter">
                <option value="museum">Museums</option>
                <option value="park">Parks</option>
                <option value="airport">Airports</option>
                <option value="shopping_mall">Shopping Malls</option>
            </select>
        </form>
        <br>
        
        <div id="overlay" style="position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color: rgba(0,0,0,0.5);z-index:2;cursor:pointer;">
            <div id="instructions">STEP 1: CHOOSE A FILTER <br>
                                   STEP 2: RIGHT CLICK THE MAP <br>
                                   STEP 3: CLICK THE PIN OF THE MAP TO ADD THE PLACE</div>
            <button id="butt" onclick="off()">Understood</button>
        </div>
        
        
        
             

        <br>
        <div id="map"></div>
        
        <form action="viewlist"  method="post">
            <input type="submit" value="View Lists">
        </form>
        
        <a href="createlistpage"><input type="submit" value="Create New List"></a>
        
        <a href="Logout"><input type="submit" value="Log Out"></a>
        
        <script>
            var map
            var infoWindow
            var placeType
            var autocomplete
            
            var center
            var request
            var service
            var types
            var markers = [];
            var mapCircle
            
            
                function initMap(){
                    console.log($('#filter').offset())
                    on();
                    center = new google.maps.LatLng(14.5647, 120.9932)
                    var options = {
                        zoom:13,
                        center:center
                    }
                    
                    var defBounds = new google.maps.LatLngBounds(
                        new google.maps.LatLng(19.284567, 122.575897),
                        new google.maps.LatLng(6.678588, 118.347838)
                    )
                    var searchOptions = {
                        componentRestrictions: {country: 'ph'}
                    }
                    
                    var input = document.getElementById('query');
                    types = $('#filter').val();
                    
                    autocomplete = new google.maps.places.Autocomplete(input, searchOptions);
                    map = new google.maps.Map(document.getElementById('map'), options);
                    infoWindow = new google.maps.InfoWindow();
                    service = new google.maps.places.PlacesService(map);
                    
                    google.maps.event.addListener(map, 'rightclick', function(event){
                        map.setCenter(event.latLng)
                        center = event.latLng
                        clearCircle()
                        drawCircle()
                        clearResults(markers)
                        
                        request = {
                            location : event.latLng,
                            radius : 8047,
                            types : [types]
                        }
                
                    service.nearbySearch(request, callback)
                    })
                    
                    $('#filter').change(function(){
                        types = $('#filter').val()
                    })
                    
                    $('#subQuery').click(function(){
                        $('#query').val()
                    })
                    
                    //ADD TO ITINERARY
                    //if($('#add')){
                    //    $('#add').click(function(){
                            //CODE
                    //    })
                    //}
                    
                }
                           

            
                function callback(results, status){
                    if(status == google.maps.places.PlacesServiceStatus.OK){
                        for(var i = 0; i < results.length; i++){
                            markers.push(createMarker(results[i]));
                       }
                    }
                }
            
                function createMarker(place){
                    var placeLoc = place.geometry.location;
                    var marker = new google.maps.Marker({
                        map:map,
                        animation: google.maps.Animation.DROP,
                        position: place.geometry.location
                    })
            


                    google.maps.event.addListener(marker, 'click', function(){
                        
                        if(place.photos){
                            console.log(place)
                            var placePhoto = '<img src=https://maps.googleapis.com/maps/api/place/photo?maxheight=400&maxwidth=400&photoreference=' + place.photos[0].photo_reference + '&key=AIzaSyDKkISCreDl16D3FVIDI476Jre8-qEFPv0>'
                                infoWindow.setContent(place.name + '<br>'+ place.vicinity + '<br>' + place.rating  + '<img src="https://img.freepik.com/free-vector/start_53876-25533.jpg?size=338&ext=jpg" height="12" width="12">' + '<br>' + placePhoto + '<br>' + '<input type="button" id="add" value="Add">');

                        }else{
                            infoWindow.setContent(place.name + '<br>' + '<input type="button" id="add" value="Add">');
                        }
                        
                        infoWindow.open(map, this)
                    })
                    return marker;
                }
            
                function clearResults(markers){
                    for (var m in markers){
                        markers[m].setMap(null)
                    }
                    markers = []
                }
            
                function clearCircle(){
                    if(mapCircle){
                        mapCircle.setMap(null)
                        mapCircle = null;
                    }   
                }
                
                function drawCircle(){
                    mapCircle = new google.maps.Circle({
                    strokeColor: '#ffffff',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#dbdbdb',
                    fillOpacity: 0.50,
                    map: map,
                    center: center,
                    radius: 8047
                    })
                }
            function on() {
                document.getElementById("overlay").style.display = "block";
            }

            function off() {
            document.getElementById("overlay").style.display = "none";
            }
            
            
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKkISCreDl16D3FVIDI476Jre8-qEFPv0&callback=initMap&libraries=places" async defer></script>
    
    </body>
</html>